.work h1 {
    color: aliceblue;
    text-align: center;
    font-size: 100px;
    }
    
    .itws {
    text-align: center;
    color: white;
    }
    
    .itws h2 {
    font-size: 40px;
    }
    
    .blocks-container {
    display: flex;
    gap: 120px; 
    padding: 20px;
    justify-content: center;
    }
    
    .block-button {
    background-color: #36393e;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
    }
    
    .block-button:hover {
    background-color: #1e2124;
    }
    
    hr {
    width: 85%;
    margin-bottom: 70px;
    border: 0;
    height: 2px;
    background: #a380c2;
    box-shadow: 0 0 10px #a380c2, 0 0 20px #a380c2, 0 0 30px #a380c2;
    }