/* Ensure every tag is on a separate line without using blocks */
feed, title, link, updated, author, name, id, entry, summary{
    white-space: pre; /* Preserves whitespace and line breaks */
}

link, updated, id{
   font-style: italic;
}

summary{
   font-size: 1.2em;
}


/* Style for the title */
title {
    font-size: 1.5em;
    font-weight: bold;
    color: blue
}