/* Lab 6 CSS File */
  
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black; 
  color: white;
}
#bodyBlock {
  width: 700px;
  margin: auto;
}
#showHideBlock {
  padding: 1em 1em 0 1em;
  border: 1px solid white;
}
#showHideBlock p {
  margin: 0 0 1em 0; 
}
#showHideLinks {
  margin-bottom: 1em; 
  text-decoration: none;
  color: #a380c2;
}
#toggleText {
  display: block;
  float: right;
  text-decoration: none;
  color: #a380c2;
}
#toggleText:hover {
  text-decoration: underline; 
}
#hideText {
  text-decoration: none;
  color: #a380c2;
}
#hideText:hover {
  text-decoration: underline;
}
#showText {
  text-decoration: none;
  color: #a380c2;
}
#showText:hover {
  text-decoration: underline;
}
h1:hover {
  cursor: pointer; 
}
.red {
  color: red;
  background-color: transparent;
}

button {
  width: 100px;
  height: 30px;
  border: 2px solid #ddd;
  background-color: #06060d;
  border-radius: 9px;
  color: aliceblue;
  font-size: 0.9em;
  margin-top: 10px;
}
